
@{
    ViewBag.Title = "Gebruiker1";
}

<h2>Gebruiker1</h2>

<div class="row">




</div>

<div class="row">
    <div class="col-md-2">
        <button class="btn-primary">Persoon toevoegen</button>
        <button class="btn-primary">Persoon wijzigen</button>
    </div>
    <div class="col-md-2">
        <button class="btn-primary">Persoon toevoegen</button>
        <button class="btn-primary">Persoon wijzigen</button>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button class="btn-primary">Persoon zoeken</button>
        <button class="btn-primary">Overzicht genereren</button>
    </div>
</div>
