@{
    ViewBag.Title = "Error";
    
}

<h1 class="text-center">Error</h1>

<h2 class="text-center">@Model</h2>

<h3 class="text-center">Ga terug en probeer het opniew</h3>
<input type="button" onclick="history.go(-1);" value="Terug" class="text-center btn btn-default">
