
@{
    ViewBag.Title = "MaakStamboom";
}

<h2>Maak Stamboom</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <div  class="editor-label">
            @Html.Label("Familie naam")
        </div>
        <div>
            <input type="text" name="familieNaam" required />
        </div>
        <br />
        <input type="submit" class="btn btn-primary" value="Aanmaken" />
    </fieldset>
}

