@model AbInitio.Web.ViewModels.BeheerViewModel

@{
    ViewBag.Title = "AvrDetails";
}

<div>
    <h4>WijzigAvrModel</h4>
    <hr />
    <p>Informatie : @Model.AvrRelatie.relatieinformatie</p>
    <p>Datum: @Model.AvrRelatie.geefDatum</p>
</div>
<p>
    @Html.ActionLink("Wijzig", "WijzigAvr", new { avrid = Model.AvrRelatie.aanvullenderelatieinformatieid}) |
    @Html.ActionLink("Terug naar relatie", "AanvullendeRelatieInfo", new { relatieid = Model.AvrRelatie.relatieid })
</p>
